In [ ]:
(walrus_name := "Frank")

In [ ]:
walrus_name = "Frank"
print(f'My favorite walrus is named {walrus_name}!')

In [ ]:
walrus_name = "Frank"
print(f'My favorite walrus is named {walrus_name}!')

In [ ]:
walrus_name = "Frank"
walrus_last_name = "Ocean"
walrus_full_name = walrus_name + ' ' + walrus_last_name
print(f'''Have you met the greatest of the walruses, {
    walrus_full_name}?''')

In [ ]:
print(f'''Have you met the greatest of the walruses,{
    (walrus_full_name := (walrus_name := "Frank") +
    " " +
    (walrus_last_name := "Ocean")
    )
}?''')

In [ ]:
walrus_name = "Frank"
walrus_last_name = "Ocean"
print(f'''Have you met the greatest of the walruses, {
    (walrus_full_name := walrus_name + " " + walrus_last_name)
}''')

In [ ]:
n = 8

if((check:=n**2) >= 50):
    print(check)

In [ ]:

user_input = input("What's your favorite arctic mammal? > ")

while user_input.lower() != 'walrus':
    print(f'{user_input} is WRONG!')
    user_input = input("What's your favorite arctic mammal? > ")

In [ ]:
while (user_input := input("What's your favorite arctic mammal? > ").lower()) != 'walrus':
    print(f'{user_input} is WRONG!')

In [3]:
import pandas as pd

In [47]:
covid_daily_in = pd.read_csv('./COVID-19_India_Data.csv')
covid_daily_in.head()

,date,new_cases,cum_cases,new_death,cum_death,new_recovered,cum_recovered,cum_active_cases
0,2020-01-30,1,1,0,0,0,0,1
1,2020-01-31,0,1,0,0,0,0,1
2,2020-02-01,0,1,0,0,0,0,1
3,2020-02-02,1,2,0,0,0,0,2
4,2020-02-03,1,3,0,0,0,0,3

In [55]:
prev_day = 0
covid_daily_in['calculated_cases'] = [
    abs(prev_day - (prev_day := cases)) for
    # we use abs() here because the prev_day
    # value has to be called before it's
    # reassigned, so the actual value comes
    # out negative, but this should work for
    # all cases, as long as there isn't a
    # Null value.
    cases in covid_daily_in['cum_cases']
    ]

In [53]:
covid_daily_in[['date','cum_cases','new_cases','calculated_cases']]

           date  cum_cases  new_cases  calculated_cases
0    2020-01-30          1          1                 1
1    2020-01-31          1          0                 0
2    2020-02-01          1          0                 0
3    2020-02-02          2          1                 1
4    2020-02-03          3          1                 1
..          ...        ...        ...               ...
636  2021-10-27   34231030      16351             16351
637  2021-10-28   34245337      14307             14307
638  2021-10-29   34259552      14215             14215
639  2021-10-30   34272492      12940             12940
640  2021-10-31   34285399      12907             12907

[641 rows x 4 columns]

In [ ]:
for i ,case in enumerate(covid_daily_in['calculated_cases']):